html {
body{
    background-color: rgb(16, 105, 113);
width: 500px;
margin: 0 auto;
text-align: justify;
}



h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}





img{
    width: 500px;
}


.NEWS{
    width: 500px;
    height: 600px;
    margin-bottom: 40px ;
    overflow-y:hidden;
    padding: 10px;
    border: 10px solid rgb(151, 29, 29);
}
